*{
    background-color: #454545;
}

.parent{
    display: flex;

}

.main{
    flex: 1;
    text-align: center;
    padding: 30px 10px 30px 10px;
}

#passwordSlot{
    flex: 1;
    font-size: 36px;
    border-radius: 10px;
    background-color: #4e4e4e;
}

#passwordWithButton{
    display: flex;
    padding: 10px 400px 10px 180px;
}

#copyButton{
    flex:0.2;
    font-size:20px;
    border-radius: 10px;
    margin-left: 10px;
    color: #c8c8c8;
}

#rangeLabel{
    font-size: 22px;
}

#range{
    margin-left: 20px;
}

#numberLabel{
    font-size: 22px;
}

#charLabel{
    font-size: 22px;
}